@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #f8f8ff;
  --second-bg-color: #e8e8e8;
  --text-color: #000000;
  --second-text-color: #333;
  --third-text-color: #ededed;
  --main-color: #800080;
  --opacity-value: 0.9;
}

::selection {
  background: var(--main-color);
  color: var(--bg-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  transition: background-color 1s, color 1s;
  background: var(--bg-color);
  color: var(--text-color);
}

div span {
  color: var(--text-color);
}

a {
  position: relative;
  cursor: pointer;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 2px; /* Add a bit of spacing for the underline */
  transition: color 0.3s ease; /* Smooth color transition */
}

/* Hover color change */
a:hover {
  color: var(--text-color);
}

/* Create the underline effect */
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scaleX(0); /* Start with no underline */
  transform-origin: bottom right; /* Start animation from the right */
  transition: transform 0.3s ease; /* Smooth animation */
}

/* Expand the underline smoothly on hover */
a:hover::after {
  transform: scaleX(1); /* Full-width underline */
  transform-origin: bottom left; /* Animate from left to right */
}

.btn::after {
  width: 0%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.header.sticky {
  background: var(--bg-color);
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
  width: fit-content;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  padding: 10rem 9% 2rem;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 9%;
  /* background: url("../images/shymaaHalfBody.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
}

.home-content {
  max-width: 60rem;
  z-index: 99;
}

.home-content h1 {
  position: relative;
  display: inline-block;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h1 span {
  color: var(--text-color);
}

.home-content .text-animate {
  position: relative;
  width: 31.8rem;
}

.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 33rem 0;
}

.home.show-animate .home-content .text-animate h3 {
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.home-content .text-animate h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before {
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}

.home-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.home-imgHover:hover {
  background: var(--bg-color);
  opacity: 0.8;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--second-bg-color);
  padding-bottom: 6rem;
}

.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  object-position: 0% 5%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--second-bg-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-right: 0.2rem solid var(--main-color);
  border-left: 0.2rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
}

.about-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
  cursor: pointer;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}

.text-container {
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.text-content {
  margin: 0;
}

.more-text {
  color: var(--text-color);
  display: inline-block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, opacity 0.6s ease-in-out;
}

.expanded .text-container {
  display: inline !important;
}

.read-more-btn {

}

.read-more-btn:hover {

}

.expanded .more-text {
  max-height: 500px; /* Adjust depending on the content */
  opacity: 1;
}

.expanded .read-more-btn {

}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column .title {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  position: relative;
  border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: .2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.education-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.education-content .content:hover::before {
  width: 100%;
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: .5rem;
}

.education-content .content .year i {
  padding-right: .5rem;
}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  font-size: 1.6rem;
  padding-top: .5rem;
}

.content a.click {
  display: inline-block;
  font-size: 1.5rem;
}









.education .content {
  overflow: hidden; /* Ensure smooth transitions */
}

.education .content h3,
.education .content p {
  transition: max-height 0.6s ease, padding 0.6s ease; /* Smooth transitions for height and padding */
  overflow: hidden; /* Ensure the content is clipped during transitions */
}

.education .content h3 {
  max-height: 3rem; /* Truncated height for headings */
  padding-bottom: 0; /* No extra padding when collapsed */
}

.education .content h3.expanded {
  max-height: 10rem; /* Arbitrary large height to accommodate full heading */
  padding-bottom: 0.5rem; /* Add padding when expanded */
}

.education .content p {
  max-height: 6rem; /* Initial truncated height for the paragraph */
  padding-bottom: 1.5rem; /* Space for the "See More" link */
}

.education .content p.expanded {
  max-height: 100rem; /* Arbitrary large height to accommodate full text */
  padding-bottom: 1.5rem; /* Maintain space for "See Less" link */
}

.education .content p a.click {
  position: relative;
  z-index: 1;
  font-size: 1.4rem;
  color: var(--main-color);
  /* text-decoration: underline; */
  cursor: pointer;
}

.education .content p a.click:hover {
  color: var(--hover-color);
}













.click-box.clicks {
  display: block;
  width: 15rem;
  cursor: pointer;
}

.click-box.clicks a::before {
  background: var(--second-bg-color);
}

.text-container {
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.text-content {
  margin: 0;
}

.more-text {
  color: var(--text-color);
  display: inline-block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, opacity 0.6s ease-in-out;
}

.expanded .text-container {
  display: inline !important;
}

.read-more-btn {

}

.read-more-btn:hover {

}

.expanded .more-text {
  max-height: 500px; /* Adjust depending on the content */
  opacity: 1;
}

.expanded .read-more-btn {

}

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--second-bg-color);
}

.skills h2 {
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-column .skills-box {
  position: relative;
}

.skills-box .skills-content {
  position: relative;
  border: .2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: .5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0rem;
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
  padding: .5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
 display: block;
 height: 100%;
 border-radius: .3rem;
 background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 95%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 99%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 95%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 97%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 90%;
}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
}

.contact h2 {
  left: 50%;
  transform: translateX(-50%);
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: .6rem;
  z-index: -1;
  transition: 0.5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box.btns .btn {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text,
.footer-iconTop {
  position: relative;
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  z-index: 1;
  overflow: hidden;
}

.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: .5s;
}

.footer-iconTop a:hover i {
  color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */
.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 98;
}

.animate.home-img {
  width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(.3s * var(--i))
}

.animate.scroll {
  transition: 1s ease;
  transition-delay: calc(.3s / var(--i));
  animation: none;
}

section:nth-child(odd) .animate.scroll,
.footer .animate.scroll {
  background: var(--second-bg-color);
}

.education .education-box .animate.scroll {
  width: 105%;
}

.about.show-animate .animate.scroll, 
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll {
  transition-delay: calc(.3s * var(--i));
  width: 0;
  
}


/* BREAKBOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header{
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  home {
    padding: 0 4%;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 850px) {
  .animate.home-img {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .header {
    background: var(--bg-color);
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: .25s ease;
    transition-delay: .25s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    z-index: -1;
    transition: .25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav {
    left: 0;
    transition-delay: .25s;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: .25s ease;
    transition-delay: 0s;
  }

  .navbar.active a {
    transform: translateX(0);
    transition-delay: .25s;
  }

  .home-imgHover {
    pointer-events: none;
    background: var(--bg-color);
    opacity: .6;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }

  .home-content h1 {
    display: flex;
    flex-direction: column;
  }

  .home-sci {
    width: 160px;
  }

  .home-sci a {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
    font-size: 5.2rem;
  }

  .education {
    padding: 10rem 4% 5rem 5%;
  }

  .contact form .input-box .input-field {
    width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 371px) {
  .home {
    justify-content: center;
  }

  .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .home-content h1 {
    font-size: 5rem;
  }
}


/* KEYFRAMES ANIMATION */
@keyframes  homeBgText {
  0%,
  10%,
  100% {
    background-position: -32rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes  homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes  aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes  showRight {
  100% {
    width: 0;
  }
}

/* Editor Form */
/* .edit-btn {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 10%;
  z-index: 9999;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: background 0.3s ease;
  background: var(--main-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} */

.modal {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  z-index: 9999; */
  /* padding-top: 0;
  padding-bottom: 0; */
  /* display: none; */
  /* width: 100%;
  height: 100%; */
  /* background: rgba(0, 0, 0, 0.5); */
  /* background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */

  /* justify-content: center;
  align-items: center; */

  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 99999; */
}

/* .modal-content {
  background: rgba(255, 255, 255, 0.1);
  overflow-y: auto;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
}

.modal form label {
  display: block;
  font-weight: 600;
  margin-top: 12px;
}

.modal form input,
.modal form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.modal form button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: var(--main-color);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.5s ease;
  cursor: pointer;
}

.modal form button:hover {
  background: #007acc;
}

.modal textarea {
  resize: vertical;
}

.modal div {
  width: 80%;
  margin: 0 auto;
}

.modal .percentage {
  padding: 0;
} */


/* Button Styling */
/* Default button styles */
.open-modal-btn {
  position: fixed;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem; /* Initial circle size */
  height: 5rem;
  background: var(--main-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: var(--bg-color);
  border: none;
  border-radius: 50%; /* Circle shape */
  font-size: 2rem;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  bottom: 2rem;
  right: 2rem; /* Position the button on the right side */
  transform: translateX(0); /* No horizontal translation needed */
  z-index: 9999;
  transition: 
    width 0.5s ease, 
    height 0.5s ease, 
    border-radius 0.5s ease, 
    background-color 0.3s ease, 
    box-shadow 0.3s ease;
  }
  
  /* Hover effect: expand button */
  .open-modal-btn:hover {
    width: 20rem; /* Expanded width */
    height: 6rem; /* Rectangle height */
    border-radius: 1rem; /* Rounded rectangle */
    background-color: var(--bg-color);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); /* Enhanced shadow */
  }
  
  /* Text inside the button */
  .open-modal-btn .button-text {
    opacity: 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--bg-color);
  transition: opacity 0.3s ease, transform 0.5s ease;
}

/* Show text on hover */
.open-modal-btn:hover .button-text {
  opacity: 1; /* Smoothly show text */
  transform: translateX(1rem); /* Move text slightly to the left */
}

/* Icon inside the button */
.open-modal-btn .pen-icon {
  font-size: 2rem;
  color: var(--bg-color);
  transition: 
  transform 0.5s ease, 
  opacity 0.3s ease, 
    right 0.5s ease;
  position: absolute;
}

/* Move the pen icon to the right */
.open-modal-btn:hover .pen-icon {
  transform: translateX(8rem); /* Move the pen icon to the right */
}

/* Default state of the pen icon */
.open-modal-btn .fa-pen {
  position: absolute;
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Adjust the icon to be perfectly centered */
  transition: transform 0.3s ease, left 0.5s ease; /* Smooth transitions */
}

/* On hover, move the pen icon to the right */
.open-modal-btn:hover .fa-pen {
  transform: translate(-50%, -50%) scale(1.2); /* Enlarge the icon */
  left: 90%; /* Move the icon to the right end of the button */
}

@media (max-width: 768px) {

  .open-modal-btn {
    width: 6rem; /* Smaller initial size */
    height: 6rem;
    font-size: 1.8rem;
  }

  .open-modal-btn:hover {
    width: 18rem; /* Adjusted expansion size */
    height: 5rem;
  }
}

/* Form container */
#contentForm {
  font-size: 1.6rem; /* Initial font size for the form content */
  transition: font-size 0.3s ease; /* Smooth transition for font size */
}

/* Hover or focus effect on the form fields */
#contentForm input, 
#contentForm textarea {
  font-size: 1.6rem; /* Base font size for inputs and textareas */
  padding: 1rem; /* Initial padding */
  transition: font-size 0.3s ease, padding 0.3s ease; /* Smooth transition for font size and padding */
}

/* When the form fields are focused, make the content look larger */
#contentForm input:hover, 
#contentForm textarea:hover, 
#contentForm input:focus, 
#contentForm textarea:focus {
  font-size: 1.8rem; /* Increase font size when focused or hovered */
  padding: 1.2rem; /* Increase padding to make fields appear larger */
  transition: font-size 0.3s ease, padding 0.3s ease; /* Smooth transition */
}

/* Optional: You can also scale the entire form when hovering */
#contentForm:hover {
  /* transform: scale(1); Slightly increase the size of the form */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}




/* General Modal Styles */
/* Modal Container */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(var(--bg-color), var(--opacity-value)); */
  backdrop-filter: blur(25px); /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(50px);  /* Safari support */
  display: flex; /* Always part of the layout */
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially transparent */
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth fade effect */
  z-index: 1000;
}

/* When Modal is Active */
.modal.active {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Make it interactive */
}

/* Modal Content */
.modal-content {
  border: solid 1px var(--main-color);
  border-radius: 15px;
  padding: 1.5rem;
  width: 70%;  /* Adjust width */
  max-width: 800px;  /* Optional: Limit max width */
  height: 80%;  /* Adjust height */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  overflow-y: auto;  /* Allow scrolling if content overflows */
  transform: scale(0.95);  /* Slightly smaller on initial load */
  opacity: 0;  /* Start as invisible */
  transition: transform 0.3s ease, opacity 0.3s ease;  /* Smooth transition */
}

/* When Modal is Active */
.modal.active .modal-content {
  transform: scale(1); /* Full size */
  opacity: 1; /* Fully opaque */
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.close:hover {
  color: #f44336;
}

.modal h2 {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--main-color);
}

.modal form fieldset {
  border: none;
  margin-bottom: 2rem;
}

.modal legend {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.modal label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.modal textarea {
  resize: vertical;  /* Allow only vertical resizing */
}

.modal input[type="text"], .modal textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.modal input[type="text"]:focus, .modal textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
}

.modal input[type="range"] {
  width: 100%;
  margin-bottom: 1rem;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #2196f3 50%, #ccc 50%);
  outline: none;
}

.modal input[type="range"]:focus {
  background: linear-gradient(to right, #3f51b5 50%, #ccc 50%);
}

.modal .publish-btn {
  right: 2rem;
  position: absolute;
}

.percentage-display {
  font-size: 1.1rem;
  color: var(--text-color);
  text-align: center;
}

.modal button {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  color: var(--bg-color); /* Initial text color */
  background: var(--main-color); /* Transparent background initially */
  border: 0.2rem solid var(--main-color); /* Border color */
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.5rem 1rem; /* Padding for button size */
  text-decoration: none;
  z-index: 1; /* Ensure text is above the expanding background */
  overflow: hidden; /* Ensure the expanding background stays within the button */
  transition: color 0.5s ease; /* Smooth transition for text color */
}

/* Hover effect: change text color */
.modal button:hover {
  color: var(--main-color); /* Change text color on hover */
}

/* Create the expanding background with pseudo-element */
.modal button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Start with no width */
  height: 100%; /* Full height of the button */
  background: var(--bg-color); /* New background color */
  z-index: -1; /* Place it behind the button text */
  transition: width 0.5s ease; /* Smooth transition for width */
}

/* On hover, expand the background */
.modal button:hover::before {
  width: 100%; /* Expand the background to cover the button */
}

/* .modal button:hover {
  background-color: #303f9f;
} */

.modal button[type="button"] {
  background-color: #f44336;
  border-color: #f44336;
}

.modal button[type="button"]:hover {
  background-color: #d32f2f;
  color: #d32f2f;
}

/* Animation */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translate(-50%, -45%);
  }
  to {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
}

@keyframes slideIn {
  0% {
      transform: translateY(-50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@media (max-width: 768px) {
  
  /* Modal Content */
  .modal-content {
    width: 90%; /* 60% of the screen width */
    height: 80%; /* 60% of the screen height */
  }
}

/* Container Styling */
.message-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

/* Box Styling */
.message-box {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-50px);
  animation: slideIn 0.5s ease-out forwards;
}

/* Title Styling */
.message-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  animation: fadeInUp 1s ease-out;
}

/* Body Styling */
.message-body {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
  animation: fadeInUp 1.5s ease-out;
}

.alert-message-btn {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  color: var(--bg-color); /* Initial text color */
  background: var(--main-color); /* Transparent background initially */
  border: 0.2rem solid var(--main-color); /* Border color */
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.5rem 1rem; /* Padding for button size */
  text-decoration: none;
  z-index: 1; /* Ensure text is above the expanding background */
  overflow: hidden; /* Ensure the expanding background stays within the button */
  transition: color 0.5s ease; /* Smooth transition for text color */
}

/* Hover effect: change text color */
.alert-message-btn:hover {
  color: var(--main-color); /* Change text color on hover */
}

/* Create the expanding background with pseudo-element */
.alert-message-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Start with no width */
  height: 100%; /* Full height of the button */
  background: var(--bg-color); /* New background color */
  z-index: -1; /* Place it behind the button text */
  transition: width 0.5s ease; /* Smooth transition for width */
}

/* On hover, expand the background */
.alert-message-btn:hover::before {
  width: 100%; /* Expand the background to cover the button */
}


/* Keyframe Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
}

.confirmation-modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-box {
  background: white;
  padding: 30px; /* Increased padding for better spacing */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(-50px);
  transition: transform 0.5s ease;
}

/* Add spacing between sections */
.modal-box h2 {
  margin-bottom: 20px; /* Space below the modal title */
}

.modal-box p {
  margin-bottom: 20px; /* Space below descriptive text */
}

.modal-box .btn-container {
  margin-top: 20px; /* Space above the buttons */
  display: flex;
  gap: 15px; /* Space between buttons */
  justify-content: center; /* Center align buttons */
}

.confirmation-modal.show .modal-box {
  transform: translateY(0);
}

/* Base Button Styling */
.confirmation-modal .btn {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  color: var(--bg-color);
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s ease;
}

.confirmation-modal .btn:hover {
  color: var(--main-color);
}

.confirmation-modal .cancel-btn:hover {
  color: var(--bg-color);
}

/* Create the expanding background with pseudo-element */
.confirmation-modal .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: width 0.5s ease;
}

.confirmation-modal .cancel-btn::before {
  background: var(--main-color);
}

.confirmation-modal .btn:hover::before {
  width: 100%;
}

/* Specific styles for "Yes, Publish" button */
.confirmation-modal .confirm-btn {
  color: var(--bg-color);
  background: var(--main-color);
  font-weight: bold;
}

/* Specific styles for "Cancel" button */
.confirmation-modal .cancel-btn {
  color: var(--main-color);
  background: var(--bg-color);
}











/* ::-webikt-scrollbar {
  width: 15px;
}

::-webikt-scrollbar-track {
  background: #d1e5ff;
}

::-webikt-scrollbar-thumb {
  background-color: linear-gradient(#d1e5ff, #11eaff);
  border-radius: 10px;
  transition: background-color 0.3s;
} */

/* Add the following styles to customize the scrollbar */

::-webkit-scrollbar {
  width: 15px; /* Adjust the width of the scrollbar */

}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background: var(--bg-color); /* Change the background color of the scrollbar track and thumb */
}

/* ::-webkit-scrollbar-thumb {
  background-color: linear-gradient(#ffffff, #11eaff); Change the background color of the scrollbar thumb
  border-radius: 10px; Adjust the border radius of the scrollbar thumb
} */

::-webkit-scrollbar-thumb {
  background-color: var(--main-color) ; /* Change the background color of the scrollbar thumb when hovered */
}

.theme::-webkit-scrollbar-thumb {
  background-color: var(--second-bg-color); /* Replace #your-preferred-color with your desired color */
}

.theme {
  direction: rtl;
  position: fixed;
  width: 70px;
  height: 300px;
  top: 25%;
  right: -65px;
  border-left: 8px solid var(--main-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 20px var(--bg-color);
  transition: 1s;
  overflow-y: scroll;
  padidng-top: 1rem;
  padding-bottom: 1rem;
  z-index: 100;
}

.theme:hover {
  right: 0;
  border-radius: 3px;
}

.themeContainer {
  width: 70%;
  margin-top: 25rem;
}

.themeIcon {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 20px #d2d2d2;
  cursor: pointer;
  transition: .3s;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.themeIcon:hover {
  transform: scale(1.2);
}

.defult {
  background: linear-gradient(to right, #00abf0, #112e42);
}

.deepSkyBlue {
  background: linear-gradient(to right, #00abf0, #00abf0);
}

.darkMode {
  background: linear-gradient(to right, #121212, #212121);
}

.black {
  background: linear-gradient(to right, #212121, #865e5e);
}

.greenAndWhite {
  background: linear-gradient(to right, rgba(0, 128, 0, 0.8), rgba(0, 64, 0, 0.6));
}

.redAndWhite {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(64, 0, 0, 0.6));
}

.purpleAndWhite {
  background: linear-gradient(to right, rgba(128, 0, 128, 0.8), rgba(64, 0, 64, 0.6));
}

.orangeAndWhite {
  background: linear-gradient(to right, rgba(255, 165, 0, 0.8), rgba(128, 64, 0, 0.6));
}

.pinkAndWhite {
  background: linear-gradient(to right, rgba(255, 192, 203, 0.8), rgba(128, 64, 64, 0.6));
}

.brownAndWhite {
  background: linear-gradient(to right, rgba(165, 42, 42, 0.8), rgba(128, 64, 64, 0.6));
}

.grayAndWhite {
  background: linear-gradient(to right, rgba(128, 128, 128, 0.8), rgba(64, 64, 64, 0.6));
}


/* About Section */






/* .hover-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit:cover;
  object-position: 0px 0px;
  transition: transform 0.5s ease, filter 0.5s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease;
  z-index: 1;
}

.about-content:hover .hover-image {
  transform: scale(1.2);
  filter: brightness(1);
}

.about-content:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
} */



/* editor */

/* *[contenteditable="true"]:hover {
  border: 1px solid #ccc;
  background: var(--second-bg-color);
  padding-right: 2rem; */
  /* padding-left: 1rem; */
/* } */
 
/* .editing {
  outline: 2px dashed #007bff;
  background-color: #f0f8ff;
}

#save-all-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
} */

.editable-text {
  /* color: var(--text-color); */
  /* font-size: 24px; */
  /* padding: 10px; */
  /* background-color: var(--bg-color); */
  /* margin: 10px; */
  /* border: 2px solid var(--text-color); */
  /* display: inline-block; */
  /* width: 300px; */
  transition: transform 0.3s ease, color 0.3s ease;
}

.editable-text:hover {
  transform: scale(1);
  /* border: 2px solid var(--text-color); */
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: text;
}

.editable-text:focus {
}

.save-button, .reset-button, .remove-button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  position: fixed;
  bottom: 20px;
  left: 130px;
  z-index: 9999;

  display: none;
}

.save-button {
  left: 20px;
}

.remove-button {
  left: 250px;
}